* {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: 'DM Sans';

}

body {
    width: 1200px;
    margin: auto;
    background: #E5E5E5;
}

/*Начало Header*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: #E5E5E5;

    position: fixed;
    left:auto;
    top: 0;
    width: 1200px;
}

/*тут хранится картинка. (главный логотип)*/
/*(логотип)*/
header .img-logo {
    background-image: url("../assets/hs..svg");
    width: 64px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
}

header nav {
    display: flex;

}

header nav p {
    color: #181717;
    font: 500 27px 'DM Sans'
}

header nav p:not(:last-child) {
    margin-right: 27px;
}

header nav p:hover {
    text-decoration: underline;
}

/*Конец Header*/


/*начало работы с формой*/

/*начало работы с Contact*/
.form {
    margin: 200px 0 0 0;

}

.form .form-input {
    display: flex;
    justify-content: space-between;
    margin: 109px 0 0 0;

}

.one-title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.form .one-title p {
    margin: 32px 0 0 0;
    font: 400 22px 'DM Sans';
    font-style: normal;
    color: #606060;
    width: 672px;
    height: 26px;
}

.form h2 {
    font: 500 60px 'DM Sans';
    font-style: normal;
    color: #181717;

}

/*Конец работы с Contact*/


/*начало работы с Form-input*/

.form .callback {
    display: flex;
}


/*начало работы с input*/

.form .callback .input-one {
    width: 676px;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}

.form .callback .form-input .click {
    margin: 27px 0 0 0;
    width: 162px;
    height: 42px;
}

.form .callback .input-two {
    margin: 30px 0 0 0;
    width: 676px;
    height: 50px;

    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}
 
/*конец работы с input*/


.form .callback .form-input {
    display: flex;
    flex-direction: column;
    margin: 32px 0 0 0;
}

.callback .txt-input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-style: normal;
    margin-left: 47px;
    width: 399px;
    height: 56px;
    

    color: #606060;
}

/*начало работы с txt-input*/
.callback .txt-input-one {
    width: 395px;
    height: 76px;
    margin-top: 25px;
    
}

.callback .txt-input-two {
    width: 399px;
    height: 56px;
    margin-top: 40px;  
}

/*конец работы с txt-input*/

/*начало работы с Кнопкой*/

.callback .form-input .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: #181717;
    border-radius: 5px;
    margin-top: 27px;
    width: 162px;
    height: 42px;

    font:700 18px 'DM Sans';
    font-style: normal;
    color: #FFFFFF;
    

}
/*конец работы с Кнопкой*/












/*конец работы с формой*/


/*Нижняя часть*/
footer {
    display: flex;
    justify-content: space-between;
    margin: 126px;
}

footer .networks {
    display: flex;
    justify-content: space-between;
    

}

footer .networks p{
    font: 500 22px 'DM Sans';
    color: #181717;
    
}

footer .networks p:not(:last-child) {
    margin-right: 30px;
    
    
}

footer .name{
    font: 500 22px 'DM Sans';
    color: #2429AF;
}

/*Конец нижней части*/